.body{
    background-color: pink;
}
.s1{
    text-align: center;
    background-color: pink;
}
.b{
    font-size: x-large;
    background-color: white;
    margin-top: 5%;
    
}
.d{
    color: black;
}